.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(73, 67, 70);
    -fx-background: rgb(50, 35, 71);
    -fx-text-fill: #808080;
    -fx-wrap-text: true;
}

#title{ 
	-fx-text-fill: #ffd700;
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-font-family: "Lucida Handwriting";
	-fx-control-inner-background: transparent;
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-wrap-text: true;
	-fx-prompt-text-fill: rgb(225, 215, 0, 0.7);
}

#title:focused .content {
	-fx-background-color: transparent;
}

#text{
	-fx-font-size: 14pt;
	-fx-text-fill: #dcdcdc;
	-fx-font-family: "Lucida Handwriting";
	-fx-control-inner-background: transparent;
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-wrap-text: true;
	-fx-prompt-text-fill: rgb(220, 220, 220, 0.5);
}

#text:focused .content {
	-fx-background-color: transparent;
}


/* menubar */

.menu-bar{
	-fx-font-size: 10pt;
	-fx-opacity: 0;
	-fx-background-color: #543876;
	-fx-background-radius: 10 10 10 10;
	-fx-shape: "M0 0 L80 0 L50 10 L0 10 z";
}

.menu-bar:hover{
	-fx-opacity: 100;
}

.menu-item {
	
}

.menu-item:focused, .menu-item:hovered {
     -fx-background-color: #2d26d9;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: #2d26d9;
    -fx-background-radius: 10 10 10 10;
    -fx-shape: "M0 0 L100 0 L80 50 L100 100 L0 100 L 20 50 z";
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: #A16583;
	-fx-font-family: "Lucida Handwriting";
	-fx-font-weight: bold;
}

.context-menu {

}

/* tag box */

#tags{
	-fx-font-size: 12pt;
	-fx-text-fill: #A16583;
	-fx-font-family: "Lucida Handwriting";
	-fx-control-inner-background: transparent;
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-wrap-text: true;
	-fx-prompt-text-fill: rgb(162, 129, 196, 0.7);
}

#tags:focused .content {
	-fx-background-color: transparent;
}

#tagscroll {
	-fx-background-color: transparent;
}

/* tags */

.tag {
	-fx-font-size: 12pt;
	-fx-text-fill: #A16583;
	-fx-font-family: "Lucida Handwriting";
	-fx-font-weight: bold;
	-fx-background-color: #543876;
	-fx-wrap-text: true;
	-fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0 7 0 7;
}

.tag:hover {
	-fx-background-color: #664d7f
}

#tagDelBtn {
	-fx-font-size: 1;
	-fx-background-radius: 10 10 10 10;
	-fx-padding: 1 0 0 1;
	-fx-background-color: transparent;
}

#tagDelBtn:hover {
	-fx-background-color: #2d26d9;
}

#tagDelBtn:pressed {
	 -fx-opacity: 0.9;
	 -fx-background-color: #110f53;
}

/* scroll bars  */

.scroll-bar:vertical {
	-fx-opacity: 0;
	-fx-pref-width: 1;
	-fx-padding: 0 0 0 0;
}

.scroll-bar:horizontal {
	-fx-opacity: 0;
	-fx-pref-width: 1;
	-fx-padding: 0 0 0 0;
}


/* searching */


#vbox2 {
	-fx-background: transparent;
	-fx-padding: 10 10 10 10;
}

#searchTerm {
	-fx-font-family: "Lucida Handwriting";
}

#searchBtn {
	-fx-background-color: transparent;
	-fx-background-radius: 20 20 20 20;
	-fx-padding: 3 3 3 3;
}

#searchBtn:hover {
	-fx-background-color: #664d7f;
}

#searchBtn:pressed {
	 -fx-opacity: 0.9;
	 -fx-background-color: black;
}

#searchTag, #searchNote, #searchTitle {
	-fx-font-size: 12pt;
	-fx-text-fill: #A16583;
	-fx-font-family: "Lucida Handwriting";
	-fx-font-weight: bold;
	-fx-background-color: #543876;
	-fx-wrap-text: true;
	-fx-border-radius: 10 10 10 10;
	-fx-border-color: #543876; 
	-fx-border-width: 2 2 2 2;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0 5 0 5;
}

#searchTag:hover, #searchNote:hover, #searchTitle:hover {
	-fx-background-color: #2d26d9;
	-fx-border-color: #2d26d9;
}

#searchTag:selected, #searchNote:selected, #searchTitle:selected {
	-fx-background-color: #2d26d9;
	-fx-border-color: #543876;

}

ol {
	list-style-type: none;
}
